POLYMARKET_API_KEY=""
PRIVATE_KEY=""
KEY=""


# Use a local JSON file to share small runtime values between tools/agent
RUNTIME_ENV_PATH = ".runtime_env.json"


SERPER_API_KEY=""

EXA_API_KEY=""

DEBUG=1

RAPIDAPI_KEY=""

# LLM API
DEEPSEEK_API_KEY=""
DEEPSEEK_BASE_URL="https://api.deepseek.com/v1"

OPENROUTER_API_BASE="https://openrouter.ai/api/v1"
OPENROUTER_API_KEY=""

OPENAI_API_BASE=""
OPENAI_API_KEY=""

PRIVATE_API_BASE=""
PRIVATE_API_KEY=""

LITE_API_BASE=""
LITE_API_KEY=""